#svg {
  background-color: beige;
}

body {
  margin: 0;
}

.top {
  fill: LightSkyBlue;
  stroke: black;
  stroke-width: 2;
}

.right {
  fill: DodgerBlue;
  stroke: black;
  stroke-width: 2;
}

.left {
  fill: DeepSkyBlue;
  stroke: black;
  stroke-width: 2;
}

#floor {
  stroke: black;
  stroke-width: 2;
  fill: AliceBlue;
}

.grid_line {
  stroke: black;
  stroke-width: 2;
  pointer-events: none;
}

#highlight {
  fill: red;
  stroke: black;
  stroke-width: 2;
}

